{% extends 'app/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block body %}



<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href=" {% url 'index' %} "><img src=" {% static 'img/logo (13).png' %} "   alt="Skeleton Art Museumロゴ"></a>
                    <a class="navbar-brand" >
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active"><a href="{% url 'EC' %}">予約・購入</a></li>
                            <li><a href="{% url 'blog' %}">ご意見・感想</a></li>
                            <li><a href="{% url 'toiawase' %}">お問い合わせ</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">マイページ</a></li>
                            <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
                            {% else %}
                            <li><a href="{% url 'account_signup' %}">サインイン</a></li>
                            <li><a href="{% url 'account_login' %}">ログイン</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </nav>
    </header>

<section id="top_banner">
    <div class="page_info">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-6">
                    <h3>オンラインstore</h3>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> 	/ </span><span class="current"> オンラインstore</span></div>
            </div>
        </div>
    </div>

    </div>
</section>

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center">
                <div class="col-md-12 col-xs-12">
                    <h1><span>Online shopping</span></h1>
                    <p class="subheading">骨格美術館net store。オンラインでチケット購入や骨格美術館storeで販売しているグッズを購入できます。</p>
                </div>
            </div>
        </div>


        <div class="row">
            {% for item in item_data %}
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 portfolio-item">
                <div class="portfolio-one">
                    <div class="portfolio-head">
                        <div class="portfolio-img"><img alt="" src="{{ item.image.url }}" width="100" height="100"></div>
                        <div class="portfolio-hover">
                            <a class="portfolio-link" href="#"><i class="fa fa-link"></i></a>
                            <a class="portfolio-zoom" href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <!-- End portfolio-head -->
                    <div class="portfolio-content">
                        <h3 class="title">{{ item.title }}</h3>
                        <h3>価格:{{ item.price }}円</h3>
                        <h6>カテゴリ:{{ item.category }}</h6>
                        <p> {{item.description|linebreaksbr}}</p>
                        <a href="{% url 'product' item.id %}" class="readmore">商品詳細<i class="fa fa-caret-right"></i></a>
                       
                    </div>
                    <!-- End portfolio-content -->
                </div>
                <!-- End portfolio-item -->
            </div>
            
           

            {% endfor %}
        </div>
        


    


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>

        
</section>
{% endblock  %}
